ul{
    background-color: white;
    border: solid 5px yellow;
    border-radius: 4px;
    padding-left: 0px;
    list-style-type: none;
    }
    ul li {
    border-bottom: solid 1px yellow;
    padding: 15px;