

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/* HEADER */

header {
    background-color: #222;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.logo-text {
    margin-left: 10px;
}

.logo-text h1 {
    margin: 5px 0;
    font-size: 24px;
    color: #fff;
}

.logo-text h2 {
    margin: 0;
    font-size: 18px;
    color: #ddd;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 50px;
    margin-right: 10px;
}

.logo-text h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.logo-text h2 {
    margin: 0;
    font-size: 18px;
    color: #ddd;
}

nav {
    margin-left: auto; /* Pushes the navigation to the right */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
}

nav ul li a:hover {
    color: #fff;
}

/* QUIEN SOY */

#who-am-i {
    background-color: #37b2af;
    padding: 50px 0;
    text-align: center;
}

#who-am-i h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

#who-am-i p {
    font-size: 18px;
    color: black;
    font-weight:bold;
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.6;
    text-align: justify;
    padding: 15px;
}

/* FOTOS */

.photos {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.photos img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin: 0 10px; /* Adding spacing between images */
}

/* PORTFOLIO */

#portfolio {
    padding: 50px 0;
    text-align: center;
    background-color: #4cc5c2;
}

#portfolio h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.project {
    width: 300px;
    height: 300px;
    position: relative;
    padding: 15px;
}

.project .project-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.2;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    opacity: 0; 
    transition: opacity 1s; 
}

.project:hover .project-description {
    opacity: 1; /* Mostrar la descripción al hacer hover */
}

.project img {
    width: 100%; 
    height: 100%; 
    border-radius: 10px; /
}



.project:hover .project-description {
    opacity: 1;
}


/* PARTE HABILIDADES*/

#skills {
    padding: 50px 0;
    text-align: center;
    background-color: #62d9d5;
}

#skills h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.skill {
    margin-bottom: 30px;
}

.skill h3 {
    font-size: 24px;
    color: #222;
    margin-bottom: 5px;
}

.skill p {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
}

.category {
    text-align: center;
}

.category h3 {
    margin-bottom: 10px;
}

/* PARTE ESTUDIOS */
#education {
    background-color:#77ece7;
    padding: 50px 0;
    text-align: center;
    margin-bottom: -50px; 
}

#education h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.studies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: 30px;
}

.study {
    text-align: left;
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 10px; 
    margin: 20px;
}

.study h3 {
    font-size: 24px;
    color: #222;
    margin-bottom: 10px;
}

.study p {
    font-size: 16px;
    color: #666;
    margin: 0;
}



/* PARTE TRABAJOS */
#experience {
    background-color: #8cfffa;
    color: black;
    padding: 50px 0; 
    text-align: center;
}

#experience h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.jobs-grid {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    margin: 20px;
}

.job {
    width: 90%; 
    background-color: #77ece7;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

.job h3 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.job p {
    color: black;
    margin: 0;
}

/* CONTACTO */

#contact {
    background-color: #e9e9e9;
    padding: 50px 0;
    text-align: center;
    margin-bottom: -50px; /* Ajustar el margen inferior */
}

#contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; /* Espacio entre el formulario y el mapa */
}

.contact-form {
    max-width: 400px; /* Ancho máximo del formulario */
    width: 100%;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #222;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.map-container {
    max-width: 600px; /* Ancho máximo del mapa */
    width: 100%;
}

.map-container iframe {
    width: 100%;
    height: 450px; 
    border: none;
    border-radius: 5px;
    padding: 10px;
}


@media screen and (max-width: 480px) {
    /* Estilos para dispositivos con un ancho máximo de 480px */
    .logo img {
        max-height: 40px;
    }
    
    .logo-text h1 {
        font-size: 18px;
    }
    
    .logo-text h2 {
        font-size: 14px;
    }
    
    .photos img {
        width: 60px;
        height: 60px;
    }
    
    .project {
        width: 150px;
        height: 150px;
    }
    
    .project .project-description {
        width: 150px;
        height: 150px;
        padding: 10px;
    }
    }
    
    .skill h3 {
        font-size: 18px;
    }
    
    .skill p {
        font-size: 12px;
    }
    
    .categories {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .map-container iframe {
        height: 200px;
    }

    .contact-content {
        flex-direction: column; 
        align-items: center;
        margin: 10px;
        padding-right: 20px;

    .contact-form {
        margin-bottom: 20px; 
        margin: 20px;
    }

    .jobs-grid {
        display: flex;
        flex-direction: column; /* Cambiar a disposición de columnas */
        align-items: center; /* Centrar elementos horizontalmente */
    }

    /* Establecer un ancho máximo para cada trabajo */
    .job {
        width: 90%; /* Establecer un ancho del 90% del contenedor */
        margin-bottom: 20px; /* Añadir margen inferior entre trabajos */
    }
}
    
footer {
    position: fixed; /* Establece la posición fija */
    bottom: 0; /* Lo fija en la parte inferior */
    left: 0; /* Alinea a la izquierda */
    width: 100%; /* Ancho completo */
    background-color: #333; /* Color de fondo */
    padding: 20px 0; 
   
}

.social-icons {
    text-align: center; /* Centra los iconos */
}

.social-icons a {
    color: white; /* Color del icono */
    font-size: 24px; /* Tamaño del icono */
    margin: 0 10px; /* Añade espacio entre los iconos */
    text-decoration: none; /* Quita el subrayado del enlace */
}

.social-icons a:hover {
    color: #ccc; /* Cambia el color del icono al pasar el mouse */
}


